/* Font Family */
@font-face {
  font-family: FuturaFuturisC;
  src: url(/assets/fonts/FuturaFuturisC.otf);
}

@font-face {
  font-family: Arial;
  src: url(/assets/fonts/arial.ttf);
}

@font-face {
  font-family: Helvetica;
  src: url(/assets/fonts/Helvetica.ttf);
}


:root {
  /* Colors */
  --text-pink: #C8637D;
  --text-black: #393E44;
  --text-dark: #2C2F33;
  --text-blue: #429DC3;
  --blue-90: #ACD6F4;

  /* Bg Colors */
  --blue-50: #F0F9FF;
  --pink-50: #FCF1F6;

  /* Font Family */
  --font-futura: FuturaFuturisC;
  --font-arial: Arial;
  --font-helvetica: Helvetica;
  
  /* Font Size */
  --heading-1: 50px;
  --heading-2: 38px;
  --heading-3: 32px;
  --heading-4: 28px;
  --heading-5: 26px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-arial);
  box-sizing: border-box;
  overflow-x: hidden !important;
  width: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5
{
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-dark);
}

h1
{
  font-size: var(--heading-1);
}

h2
{
  font-size: var(--heading-2);
}

h3
{
  font-size: var(--heading-3);
}

h4
{
  font-size: var(--heading-4);
}

h5
{
  font-size: var(--heading-5);
}

img
{
  display: block;
  width: 100%;
}

.text
{
  color: var(--text-black);
  text-align: center;
}

.text-blue
{
  color: var(--text-blue);
}

.text-pink
{
  color: var(--text-pink);
}

.title
{
  text-align: center;
}

.uppercase
{
  text-transform: uppercase;
}

/* -----------------Navbar Start----------------- */

.navbar
{
  padding: 41px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar img
{
  width: 364.706px;
  height: 62px;
}

/* -----------------Navbar End----------------- */



/* -----------------Home Section Start----------------- */

.home
{
  margin: 0 auto;
  
}

.home .hero-banner
{
  width: 100%;
  height: 286px;
  border-radius: 30px;
  background: var(--pink-50);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner .left-icon
{
  position: absolute;
  left: 0;
  top: 0;
  width: 196.77px;
  height: 197.809px;
}

.hero-banner .right-icon
{
  position: absolute;
  right: 0;
  bottom: 0;
}

.hero-banner .hero-heading
{
  text-align: center;
  padding: 64px 54px;
  color: var(--text-pink);
  text-transform: uppercase;
}

.hero-bottom
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  width: 100%;
  padding: 35px 0;
  position: relative;
}

.hero-bottom .hero-left
{
  width: 40%;
  padding-left: 89px;
}

.hero-bottom .hero-left .arrow 
{
  position: absolute;
  left: 20%;
  top: 36%;
  width: 256.106px;
}

.hero-bottom .hero-left .hero-content
{
  font-size: var(--heading-5);
}


.hero-bottom .hero-right
{
  width: 60%;
  display: flex;
  justify-content: end;
}

.hero-bottom .hero-right .hero-left-img img
{

  height: 388px;
}

/* -----------------Home Section End----------------- */



/* -----------------Section Two Start----------------- */
.section-two
{
  width: 100%;
  background: url(/assets/images/blue0bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-top: 27px;
}

/* Top Part */

.top-part
{
  padding-top: 36px;
}

.top-part .shadow-text
{
  font-size: 79.625px;
  font-weight: 700;
  color: var(--blue-90);
  opacity: 0.3;
}

.top-part .top-progress
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 26px;
}

.top-part .top-progress .blue-box
{
  padding: 29px 30px 29px 30px;
  border-radius: 10px;
  border: 2px solid var(--text-blue);
}

.top-part .top-progress .pink-box
{
  padding: 29px 34px;
  border-radius: 10px;
  border: 2px solid var(--text-pink);
}

.top-part .top-progress img
{
  width: 67px;
  height: 94px;
}

/* Bottom Part */
.bottom-part 
{
  padding-top: 36px;
}

.bottom-part .bottom-content
{
  padding-top: 25px;
  padding-bottom: 76px;
}

.bottom-part .shadow-text
{
  font-size: 79.625px;
  font-weight: 700;
  color: var(--blue-90);
  opacity: 0.3;
}
/* -----------------Section Two End----------------- */

/* -----------------List Start----------------- */

.round
{
  width: 10px;
  height: 10px;
  background-color: #73CCF2;
  border-radius: 50%;
  margin-top: 7px;
}

.note 
{
  color: #7A7D81;
  font-size: 20px;
  font-weight: 400;
}

.items
{
  display: flex;
  align-items: self-start;
  justify-content: center;
  gap: 50px;
  padding-top: 35px;
  padding-bottom: 26px;
}

.left-item .item, .right-item .item
{
  display: flex;
  gap: 10px;
}

.item
{
  padding-bottom: 8px;
}
/* -----------------List End----------------- */


/* -----------------Section Four Start----------------- */
.section-four
{
  background: url(/assets/images/pink-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding-bottom: 276px;
  position: relative;
  z-index: 3;
}

.title-four
{
  padding-top: 80px;
}

.star-one
{
  width: 196.77px;
  height: 197.809px;
  position: absolute;
  left: 0;
  top: 2rem;
}

.star-two
{
  width: 68.255px;
  height: 68.255px;
  position: absolute;
  right: 5rem;
  top: 5rem;
}

.star-three
{
  width: 68.255px;
  height: 68.255px;
  position: absolute;
  left: 5rem;
}

.star-four
{
  width: 196.77px;
  height: 197.809px;
  position: absolute;
  right: 0;
}

.star-five
{
  width: 45.287px;
  height: 45.287px;
  position: absolute;
  left: 5rem;
}




.boxes
{
  padding-top: 12px;
  padding-bottom: 26px;
}

.boxes .number-plate
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes .number-plate .num 
{
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  background: url(/assets/images/Ellipse\ 7.svg);
  background-repeat: no-repeat;
  height: 77px;
  width: 77px;
  text-align: center;
  padding-top: 13px;
  z-index: 4;
}

.box-items
{
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: -20px;
  padding: 40px;
  width: 690px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  z-index: 3;
}

.box-details
{
  padding-top: 20px;
}

.box-right
{
  width: 178px;
  position: absolute;
  bottom: 0;
  right: -42px;
}

.box-two img
{
  width: 141px;
}

.box-three img
{
  width: 242.99px;
  margin-left: -3rem;
}
/* -----------------Section Four End----------------- */




/* -----------------Color Plate Start----------------- */

.color-plate
{
  width: 100%;
  margin-bottom: 10rem;
  position: relative;
  z-index: 30;
}

.color-plate .color-box
{
  height: 381px;
  width: 690px;
  background-color: #DF8CA1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-plate
{
  padding: 5px 5px 15px 53px;
}

.color-box .left-plate .plate-content
{
  color: white;
  line-height: 1.1;
}

.color-box .left-plate .brand-logo
{
  background-color: #fff;
  width: 254px;
  height: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 11.981px;
  padding: 8px 20px;
  margin-top: 11px;
}

.color-box .left-plate .brand-logo .logo-two
{
  margin-left: -0.4rem;
}




.brand-logo .logo-one
{
  width: 215px;
  height: 76px;
}

.brand-logo .logo-two
{
  width: 235.67px;
  height: 36.216px;
}

.right-plate img
{
  width: 258px;
  height: 382px;
}
/* -----------------Color Plate End----------------- */




/* -----------------Sectioon Five Start----------------- */
.section-five-box
{
  width: 807px;
  height: 402px;
  background-color: var(--pink-50);
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 70px;
}

.top-content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 26px 0;
}

.exc-mark 
{
  position: absolute;
}

.exc-mark img
{
  width: 25px;
}

.top-content img
{
  padding-top: 35px;
  width: 666.509px;
  height: 293px;
  position: absolute;
  bottom: 0;
}

/* -----------------Section Five End----------------- */


/* -----------------Section Six Start----------------- */
.section-six
{
  width: 100%;
  margin-bottom: 76px;
}

.section-six-content
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section-six-content .left-content img
{
  width: 379.912px;
  height: 503px;
  margin-left: 10rem;
}

.section-six-content .right-content
{
 margin-left: -4.2rem;
  
}

.section-six-content .right-content .highlight
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.section-six-content .right-content .h-one img,
.section-six-content .right-content .h-two img
{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid var(--text-blue);
}

/* -----------------Section Six End----------------- */


/* -----------------Section Seven Start----------------- */
.section-seven
{
  width: 100%;
  background: url(/assets/images/blue0bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-top: 27px;
}

.section-seven-content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding-top: 128px;
  padding-bottom: 86px;
}

.section-seven-content .content-top
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.section-seven-content .content-top .content-left .blue-icon .white-box
{
  width: 515px;
  height: 188px;
  background-color: #fff;
  border: 2px solid var(--text-blue);
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
  line-height: 1.1;
}

.section-seven-content .content-top .content-left .blue-icon 
{
 position: relative;
}

.section-seven-content .content-top .content-left .blue-icon img
{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-seven-content .content-top .content-right img
{
  width: 401.571px;
}

/* -----------------Section Seven End----------------- */


/* -----------------Section Eight Start----------------- */
.section-eight
{
  width: 100%;
  background: url(/assets/images/section-eight-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;

}

.section-eight .right-img 
{
  background: url(/assets/images/Section-eight-img.png);
  background-repeat: no-repeat;
  width: 498.02px;
  height: 833px;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
}


.section-eight-content 
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 782px;
  width: 100%;

}

.section-eight-content .left-content
{
  width: 60%;
}

.section-eight-content .content-title h1
{
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 700;
  color: var(--text-pink);
}

.section-eight-content .left-content .button
{
  display: flex;
  padding: 26px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -3rem;
}


.section-eight-content .left-content .button img
{
  width: 83.424px;
  height: 71px;
}

.section-eight-content .left-content .button button
{
  padding: 18px 50px;
  border-radius: 20px;
  border: 2px solid #C8637D;
  background: #C8637D;
  color: #FFF;
  text-align: center;
  font-family: Helvetica;
  font-size: 36px;
  margin-top: 3rem;
}


/* ----------------- Section Eight End ----------------- */



/* -----------------Section Nine Start----------------- */
.section-nine
{
  width: 100%;
  margin-top: 5rem;
}

.time-content 
{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 86px;
}

.time-content .colon 
{
  margin-top: -2rem;
}

.time-content .time
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time-content input
{
  border: none;
  color: #fff;
  font-size: 68px;
  font-weight: 700;
  letter-spacing: 13px;
  border-radius: 7.74px;
  background: linear-gradient(180deg, #DF8CA1 0%, #ECADBD 100%), linear-gradient(195deg, #429DC3 -19.23%, #ACD6E9 108.23%);
  text-align: center;
  width: 150px;
  height: 90px;
}

.time-content label
{
  font-family: Helvetica;
  font-size: 20px;
  color: var(--text-pink);
  font-weight: 400;
  margin-top: -0.3rem;
}

/* -----------------Section Nine End----------------- */


/* -----------------About Section Start----------------- */

.about-me
{
  width: 100%;
  margin-bottom: 76px;
}

.border
{
  width: 930px;
  margin: 0 auto;
  height: 1px;
  background: #E0E0E0;
}

.about-content
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 65px;
  padding-top: 38px;
}

.about-content .my-img
{
  width: 251px;
  height: 251px;
}

.about-content .details 
{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-content .details .name 
{
  font-family: Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.about-content .details img
{
  width: 255.87px;
  height: 107px;
}


.about-content .details .mail 
{
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 400;
}

.about-content .details .social-icon
{
  display: flex;
  gap: 25px;
}

.about-content .details .social-icon svg
{
  height: 42px;
  width: 42px;
}

/* -----------------About Section End----------------- */



/* -----------------Footer Start----------------- */
.footer
{
  width: 100%;
  background-color: var(--text-dark);
  padding: 11px 0;
}

.footer .footer-logo 
{
  width: 294.254px;
  height: 58.413px;
  margin: 0 auto;
}

/* -----------------Footer End----------------- */






/* -----------------Navbar Start----------------- */
/* -----------------Navbar End----------------- */